.arrival {
  position: relative;
  margin-right: 52px;
  padding: 0 8px;
  display: flex;
  width: 80px;
  height: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #403939;

  .time {
    font-size: 40px;
    font-family: var(--medium);
    font-weight: 500;
    line-height: 32px;
    animation: Visible 0.3s forwards;
  }

  .minutes {
    font-size: 24px;
    font-family: var(--regular);
    font-weight: 400;
    line-height: 18px;
  }

  .circle-container {
    box-sizing: content-box;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    z-index: 3;
    top: 20px;
    right: -30px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
  }

  .circle {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    // background: #b6e5ff;
  }
}

@keyframes Visible {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (min-width: 2781px) {
  .arrival {
    .time {
      font-size: 46px;
    }

    .minutes {
      font-size: 30px;
      line-height: 26px;
    }
  }
}
