.display__info {
	width: 50%;
	&--image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	&--pulkovo {
		background: #fff;
	}
}
.pulkovo__header {
	display: flex;
	align-items: center;
	img {
		width: 50px;
		height: 50px;
	}
	h3 {
		font-family: var(--bold);
		font-size: 26px;
		color: #334743;
	}
}
.pulkovo__content {
	table {
		border-collapse: collapse;
		thead {
			border-bottom: 2px solid #334743;
			th {
				padding-left: 8px;
				font-size: 20px;
				font-family: var(--medium);
				font-weight: 500;
				line-height: 100%;
				color: #334743;
				text-align: left;
				&:nth-child(5) {
					text-align: center;
				}
			}
		}
		tbody {
			max-height: 442px;
			tr {
				max-height: 64px;
				height: 64px;
				border-top: 1px solid #d9d9d9;
			}
			td {
				max-width: 304px;
				max-height: 64px;
				line-height: 100%;
				color: #001914;
				width: max-content;
				padding: 8px;
				font-size: 26px;
				font-family: var(--medium);
				font-weight: 500;
				&.flight__time {
					width: 80px;
					font-family: var(--bold);
					font-weight: 700;
				}
				&.flight__number {
					padding: 13px 8px;
					width: 120px;
					div {
						background: #b6e5ff;
						color: #000;
						font-family: var(--bold);
						font-weight: 700;
					}
				}
				&.flight__direction {
					font-size: 30px;
					padding: 0 8px;
				}
				&.flight__company {
					width: 160px;
				}
				&.flight__airplane-type {
					text-align: center;
					width: 100px;
					font-family: var(--bold);
					font-weight: 700;
				}
				&.flight__status {
					width: 180px;
					font-size: 22px;
				}
			}
		}
	}
}
