.stand {
	height: 144px;
	width: 128px;
	display: flex;
	background: #b6e5ff;
	position: relative;
	.between {
		display: block;
		position: absolute;
		left: 64px;
		top: -16px;
		width: 2px;
		height: 176px;
		background: #001914;
	}
	.stand__side {
		display: flex;
		width: 64px;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 4px;
		span {
			width: 64px;
			text-align: center;
			font-family: var(--bold);
			font-size: 32px;
			font-weight: 700;
			line-height: 120%;
		}
		.between-int {
			display: block;
			width: 2px;
			height: 40px;
			background: #001914;
		}
		&.side--left {
			span {
				position: relative;
				&::before {
					content: "";
					display: block;
					position: absolute;
					top: 8px;
					left: -25px;
					width: 24px;
					height: 24px;
					background-image: url("../../assets/icons/rightArrow.svg");
				}
				&.between-int::before {
					left: -55px;
					top: 10px;
				}
			}
		}
		&.side--right {
			span {
				position: relative;
				&::before {
					content: "";
					display: block;
					position: absolute;
					top: 8px;
					right: -25px;
					width: 24px;
					height: 24px;
					background-image: url("../../assets/icons/leftArrow.svg");
				}
				&.between-int::before {
					right: -55px;
					top: 10px;
				}
			}
		}
	}
}
