@font-face {
	font-family: "PT Root Regular";
	src: url("assets/fonts/pt-root-ui_regular.woff");
}
@font-face {
	font-family: "PT Root Medium";
	src: url("assets/fonts/pt-root-ui_medium.woff");
}
@font-face {
	font-family: "PT Root Bold";
	src: url("assets/fonts/pt-root-ui_bold.woff2");
}
:root {
	--regular: "PT Root Regular", sans-serif;
	--medium: "PT Root Medium", sans-serif;
	--bold: "PT Root Bold", sans-serif;
	--black: #001914;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: var(--regular);
	color: var(--black);
	background: rgba(204, 204, 204, 0.18);
}
img {
	width: 100%;
}
#root {
	height: 100vh;
	display: flex;
	align-items: center;
}
.display {
	display: flex;
	width: 100%;
	max-height: 540px;
	height: 100%;
}

// Анимации

// .fade-enter {
// 	animation: Visible 0.6s forwards;
// }

// // .fade-enter-active {
// // 	animation: Visible 0.3s forwards;
// // }

// .fade-exit {
// 	animation: Visible 0.6s backwards;
// }

// // .fade-exit-active {
// // 	animation: Visible 0.3s backwards;
// // }
// @keyframes Visible {
// 	from {
// 		opacity: 0;
// 	}
// 	to {
// 		opacity: 1;
// 	}
// }
